<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Cambio de contraseña</ion-title>
  </ion-navbar>

</ion-header>

<p *ngIf="submitAttempt" style="color: #ea6153;">Por favor rellene todos los campos.</p>

<ion-content padding>
    <ion-row class="errors-row">
        <div *ngIf="errorSave" class="errors">
          <span>{{ errorSave }}</span>
        </div>
    </ion-row>
	<form [formGroup]="resetForm">
      <ion-row>
        <ion-col>
          <ion-list inset>
            
           
            <ion-item>
              <!-- <ion-input type="text" placeholder="Email" name="email" [(ngModel)]="email" required></ion-input> -->
              <ion-input formControlName="email" type="email" [class.invalid]="!resetForm.controls.email.valid && (resetForm.controls.email.dirty || submitAttempt)"  placeholder="Correo"></ion-input>
            </ion-item>
            <p *ngIf="!resetForm.controls.email.valid  && (resetForm.controls.email.dirty || submitAttempt)" class="error">Por favor ingrese un Correo</p>
            <ion-row>
              <ion-col col-5>
                <ion-item>
                  <ion-select formControlName="phone_country_code">
                    <ion-option value="+506">+506</ion-option>
                  </ion-select>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                
                  <ion-input formControlName="phone_number" type="number" [class.invalid]="!resetForm.controls.phone_number.valid && (resetForm.controls.phone_number.dirty || submitAttempt)"
                    placeholder="Teléfono"></ion-input>
                </ion-item>
                <p *ngIf="!resetForm.controls.phone_number.valid  && (resetForm.controls.phone_number.dirty || submitAttempt)" class="error">Por favor ingrese un teléfono</p>
               
              </ion-col>
            </ion-row>
            
            
            <ion-item>
              <!-- <ion-input type="password" placeholder="Contraseña" name="password" [(ngModel)]="password" required></ion-input> -->
              <ion-input formControlName="password" type="password" [class.invalid]="!resetForm.controls.password.valid && (resetForm.controls.password.dirty || submitAttempt)" placeholder="Contraseña"></ion-input>
            </ion-item>
            <p *ngIf="!resetForm.controls.password.valid  && (resetForm.controls.password.dirty || submitAttempt)" class="error">Por favor ingrese una contraseña valida</p>
            <ion-item>
              <!-- <ion-input type="password" placeholder="Confirmación Contraseña" name="password_confirmation" [(ngModel)]="password_confirmation" required></ion-input> -->
              <ion-input formControlName="password_confirmation" type="password" [class.invalid]="!resetForm.controls.password_confirmation.valid && (resetForm.controls.password_confirmation.dirty || submitAttempt)" placeholder="Confirmación de contraseña"></ion-input>
            </ion-item>
            <p *ngIf="!resetForm.controls.password_confirmation.valid  && submitAttempt" class="error">Por favor ingrese la confirmación de contraseña</p>
            <p *ngIf="resetForm.controls.password_confirmation.errors?.MatchPassword" class="error">La  contraseñas no coinciden</p>
         
           
            <ion-item>
              <ion-input formControlName="code" type="number" placeholder="Codigo enviado por teléfono o correo"></ion-input>
            </ion-item>
            <p *ngIf="!resetForm.controls.code.valid  && (resetForm.controls.code.dirty || submitAttempt)" class="error">Por favor ingrese un código válido</p>
          
             
            
          </ion-list>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col class="signup-col">
          <button ion-button class="submit-btn" full (click)="resetPassword()">Cambiar Contraseña</button>
         
        </ion-col>
      </ion-row>
       
    </form>
    
</ion-content>
