<ion-header>

  <ion-navbar>
    <ion-title>Cambio de Contraseña</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
   <ion-row class="errors-row">
    <div *ngIf="errorAuth" class="errors">
      <span>{{ errorAuth }}</span>
    </div>
  </ion-row>
	<div class="login-box">
    <form [formGroup]="passwordForm">
      <ion-row>
        <ion-col>
          <ion-list inset>
            
            <ion-item>
              <ion-input formControlName="email" type="email" [class.invalid]="!passwordForm.controls.email.valid && (passwordForm.controls.email.dirty || submitAttempt)"
                 placeholder="Correo" required></ion-input>
            </ion-item>
            <p *ngIf="!passwordForm.controls.email.valid  && (passwordForm.controls.email.dirty || submitAttempt)" class="error">Por favor ingrese un Correo.</p>
            <ion-row>
              <ion-col col-5>
                <ion-item>
                  <ion-select formControlName="phone_country_code">
                    <ion-option value="+506">+506</ion-option>
                  </ion-select>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                
                  <ion-input formControlName="phone_number" type="number" [class.invalid]="!passwordForm.controls.phone_number.valid && (passwordForm.controls.phone_number.dirty || submitAttempt)"
                    placeholder="Teléfono"></ion-input>
                </ion-item>
                <p *ngIf="!passwordForm.controls.phone_number.valid  && (passwordForm.controls.phone_number.dirty || submitAttempt)" class="error">Por favor ingrese un teléfono</p>
               
              </ion-col>
            </ion-row>
            
            
            
          </ion-list>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col class="signup-col">
          <button ion-button class="submit-btn" full (click)="send()">Enviar Codigo de cambio de contraseña</button>
          
        </ion-col>
      </ion-row>
      
      
    </form>
   
  </div>
</ion-content>
