<ion-header>

  <ion-navbar>
    <ion-title>Cambio de Contraseña</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
   <ion-row class="errors-row">
    <div *ngIf="errorAuth" class="errors">
      <span>{{ errorAuth }}</span>
    </div>
  </ion-row>
	<div class="login-box">
    <form [formGroup]="passwordForm">
      <ion-row>
        <ion-col>
          <ion-list inset>
            
        
            <ion-item>
              <ion-input formControlName="phone" type="phone" [class.invalid]="!passwordForm.controls.phone.valid && (passwordForm.controls.phone.dirty || submitAttempt)"
                 placeholder="Teléfono" required></ion-input>
            </ion-item>
            <p *ngIf="!passwordForm.controls.phone.valid  && (passwordForm.controls.phone.dirty || submitAttempt)" class="error">Por favor ingrese un Teléfono.</p>
            
            
            
          </ion-list>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col class="signup-col">
          <button ion-button class="submit-btn" full (click)="send()">Enviar Codigo de cambio de contraseña</button>
          
        </ion-col>
      </ion-row>
      
      
    </form>
   
  </div>
</ion-content>
