<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Registro</ion-title>
  </ion-navbar>

</ion-header>

<p *ngIf="submitAttempt" style="color: #ea6153;">Por favor rellene todos los campos.</p>

<ion-content padding>
    <ion-row class="errors-row">
        <div *ngIf="errorSave" class="errors">
          <span>{{ errorSave }}</span>
        </div>
    </ion-row>
	<form [formGroup]="registerForm">
      <ion-row>
        <ion-col>
          <ion-list inset>
            
            <ion-item>
              <!-- <ion-input type="text" placeholder="Nombre" name="name" [(ngModel)]="name" required></ion-input> -->
              <ion-input formControlName="name" type="text" [class.invalid]="!registerForm.controls.name.valid && (registerForm.controls.name.dirty || submitAttempt)" placeholder="Nombre"></ion-input>

            </ion-item>
            <p *ngIf="!registerForm.controls.name.valid  && (registerForm.controls.name.dirty || submitAttempt)" class="error">Por favor ingrese un nombre</p>
            <ion-row>
              <ion-col col-5>
                <ion-item>
                  <ion-select formControlName="phone_country_code">
                    <ion-option value="+506">+506</ion-option>
                  </ion-select>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                
                  <ion-input formControlName="phone_number" type="number" [class.invalid]="!registerForm.controls.phone_number.valid && (registerForm.controls.phone_number.dirty || submitAttempt)"
                    placeholder="Teléfono"></ion-input>
                </ion-item>
                <p *ngIf="!registerForm.controls.phone_number.valid  && (registerForm.controls.phone_number.dirty || submitAttempt)" class="error">Por favor ingrese un teléfono</p>
               
              </ion-col>
            </ion-row>
            
            
            <ion-item>
              <!-- <ion-input type="password" placeholder="Contraseña" name="password" [(ngModel)]="password" required></ion-input> -->
              <ion-input formControlName="password" type="password" [class.invalid]="!registerForm.controls.password.valid && (registerForm.controls.password.dirty || submitAttempt)" placeholder="Contraseña"></ion-input>
            </ion-item>
            <p *ngIf="!registerForm.controls.password.valid  && (registerForm.controls.password.dirty || submitAttempt)" class="error">Por favor ingrese una contraseña valida</p>
            <ion-item>
              <!-- <ion-input type="password" placeholder="Confirmación Contraseña" name="password_confirmation" [(ngModel)]="password_confirmation" required></ion-input> -->
              <ion-input formControlName="password_confirmation" type="password" [class.invalid]="!registerForm.controls.password_confirmation.valid && (registerForm.controls.password_confirmation.dirty || submitAttempt)" placeholder="Confirmación de contraseña"></ion-input>
            </ion-item>
            <p *ngIf="!registerForm.controls.password_confirmation.valid  && submitAttempt" class="error">Por favor ingrese la confirmación de contraseña</p>
            <p *ngIf="registerForm.controls.password_confirmation.errors?.MatchPassword" class="error">La  contraseñas no coinciden</p>
         
            <p>El correo no es obligatorio, pero puede ser util para poder recibir información de factura dígital y notificaciones</p>
         
            <ion-item>
              <ion-input formControlName="email" type="email" placeholder="Email"></ion-input>
            </ion-item>
            <p *ngIf="!registerForm.controls.email.valid  && (registerForm.controls.email.dirty || submitAttempt)" class="error">Por favor ingrese un correo válido</p>
          
             
            
          </ion-list>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col class="signup-col">
          <button ion-button class="submit-btn" full (click)="newAccount()">Crear cuenta</button>
         
        </ion-col>
      </ion-row>
       
    </form>
    <ion-row>
       
         <button (click)="loginFacebook()" block ion-button color="facebook" icon-left><ion-icon name="logo-facebook"></ion-icon>  Registrase con facebook</button>
        <button (click)="loginGoogle()" block ion-button color="google" icon-left><ion-icon name="logo-googleplus"></ion-icon> Registrase con Google+</button>
     </ion-row> 
</ion-content>
