<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Buscar Clínica</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <form [formGroup]="clinicSearchForm" >

        <ion-searchbar formControlName="q"></ion-searchbar>
        <!-- <ion-item>
            
            <ion-input formControlName="q" placeholder="" type="text"></ion-input>
        </ion-item> -->
        <ion-card>
            <ion-card-header (click)="toggleGroup(1)" [ngClass]="{active: isGroupShown(1)}">
                Parámetros de busqueda (Opcionales)
                <ion-icon color="success" item-right [name]="isGroupShown(1) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
            </ion-card-header>
            <ion-card-content >
                <div class="optional-fields" *ngIf="isGroupShown(1)">
                   
                    <ion-item>
                        <ion-label>Provincia</ion-label>
                        <ion-select formControlName="province" (ionChange)="onChangeProvince($event)" >
                            <ion-option value=""></ion-option>
                            <ion-option value="Guanacaste">Guanacaste</ion-option>
                            <ion-option value="San Jose">San Jose</ion-option>
                            <ion-option value="Heredia">Heredia</ion-option>
                            <ion-option value="Limon">Limon</ion-option>
                            <ion-option value="Cartago">Cartago</ion-option>
                            <ion-option value="Puntarenas">Puntarenas</ion-option>
                            <ion-option value="Alajuela">Alajuela</ion-option>
                        </ion-select>
                    </ion-item>
                    <ion-item>
                        <ion-label>Cantón</ion-label>
                        <ion-select formControlName="canton" (ionChange)="onChangeCanton($event)">
                            <ion-option value=""></ion-option>
                            <ion-option *ngFor="let canton of cantones" value="{{canton.title}}">{{canton.title}}</ion-option>
                        </ion-select>
                    </ion-item>
                    <ion-item>
                        <ion-label>Distrito</ion-label>
                        <ion-select formControlName="district">
                            <ion-option value=""></ion-option>
                            <ion-option *ngFor="let district of districts" value="{{district}}">{{district}}</ion-option>
    
                        </ion-select>
                    </ion-item>
                    <ion-item>
                        <a ion-button (click)="onGetGeolocalitation()" icon-left>
                            <ion-icon name="locate"></ion-icon>   
                            Cerca tuyo
                        </a>
                        <a ion-button (click)="clearForm(this.medicSearchForm)" icon-left color="light">
                            <ion-icon name="trash"></ion-icon>   
                            Limpiar
                        </a>
                    </ion-item>
                </div>
                
                <button ion-button type="submit" (click)="onSearch()" full color="verde">
                        Buscar
                </button>
            </ion-card-content>
        </ion-card>
        
    </form>
    <ion-list>
        <ion-item *ngIf="!clinics.length > 0 && searchKey" class="errors">
            <span>No se encontraron Clínicas</span>
        </ion-item>
        <ion-item *ngFor="let clinic of clinics">
          
                <ion-icon name="home" item-start></ion-icon>
                <h2>{{clinic.name}}</h2>
                <p>{{clinic.address}}</p>
               
               
            <button ion-button clear item-end (click)="openClinicDetail(clinic)">Ver</button>
        </ion-item>
        

    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
</ion-content>