<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Buscar Médico</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <form [formGroup]="medicSearchForm" >
        <div padding>
            <ion-searchbar formControlName="q" placeholder="Buscar por nombre"></ion-searchbar>
            <!-- <ion-item>
                
                <ion-input formControlName="q" placeholder="" type="text"></ion-input>
            </ion-item> -->
        </div>
        <ion-card>
            <ion-card-header (click)="toggleGroup(1)" [ngClass]="{active: isGroupShown(1)}">
                Parámetros de busqueda (Opcionales)
                <ion-icon color="success" item-right [name]="isGroupShown(1) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
            </ion-card-header>
            <ion-card-content >
                <div class="optional-fields" *ngIf="isGroupShown(1)">
                    <ion-item>
                        <ion-label>Especialidad</ion-label>
                        <ion-select formControlName="speciality">
                            <ion-option value=""></ion-option>
                            <ion-option *ngFor="let speciality of specialities" value="{{speciality.id}}">{{speciality.name}}</ion-option>
                        </ion-select>
                    </ion-item>
                    <ion-item>
                        <ion-label>Provincia</ion-label>
                        <ion-select formControlName="province" (ionChange)="onChangeProvince($event)" >
                            <ion-option value=""></ion-option>
                            <ion-option value="Guanacaste">Guanacaste</ion-option>
                            <ion-option value="San Jose">San Jose</ion-option>
                            <ion-option value="Heredia">Heredia</ion-option>
                            <ion-option value="Limon">Limon</ion-option>
                            <ion-option value="Cartago">Cartago</ion-option>
                            <ion-option value="Puntarenas">Puntarenas</ion-option>
                            <ion-option value="Alajuela">Alajuela</ion-option>
                        </ion-select>
                    </ion-item>
                    <ion-item>
                        <ion-label>Cantón</ion-label>
                        <ion-select formControlName="canton" (ionChange)="onChangeCanton($event)">
                            <ion-option value=""></ion-option>
                            <ion-option *ngFor="let canton of cantones" value="{{canton.title}}">{{canton.title}}</ion-option>
                        </ion-select>
                    </ion-item>
                    <ion-item>
                        <ion-label>Distrito</ion-label>
                        <ion-select formControlName="district">
                            <ion-option value=""></ion-option>
                            <ion-option *ngFor="let district of districts" value="{{district}}">{{district}}</ion-option>
    
                        </ion-select>
                    </ion-item>
                    <ion-item>
                        <a ion-button (click)="onGetGeolocalitation()" icon-left>
                            <ion-icon name="locate"></ion-icon>   
                            Cerca tuyo
                        </a>
                        <a ion-button (click)="clearForm(this.medicSearchForm)" icon-left color="light">
                            <ion-icon name="trash"></ion-icon>   
                            Limpiar
                        </a>
                    </ion-item>
                </div>
                
                <button ion-button type="submit" (click)="onSearch()" full color="verde">
                        Buscar
                </button>
            </ion-card-content>
        </ion-card>
        
    </form>
    <ion-list>
            <ion-item *ngIf="!medics.length > 0 && searchKey" class="errors">
                <span>No se encontraron Médicos</span>
            </ion-item>
        <ion-item *ngFor="let medic of medics">
          
                <ion-avatar item-start>
                    <img src="{{ serverUrl}}{{ medic.photo }}"/>
                </ion-avatar>
                <h2>{{medic.name}}</h2>
                <p *ngIf="medic.specialities.length; else elseBlock"><span *ngFor="let speciality of medic.specialities">{{ speciality.name}}</span></p>
                <ng-template #elseBlock><p>Médico General</p></ng-template>
            <button ion-button clear item-end (click)="openMedicDetail(medic)">Ver</button>
        </ion-item>
        

    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
</ion-content>