page-medic-calendar {
    .header-title{
        text-align: center;
    }
    ion-card-header{
        text-align: center;
        background: map-get($colors, turquesa);
        color: white !important;
    }
    .monthview-primary-with-event[_ngcontent-c1]{
        background-color: map-get($colors, turquesa);
    }
    .monthview-selected[_ngcontent-c1]{
        background-color: map-get($colors, gris) !important;
    }
    h4, h6{
        text-align: center;
    }
    .status-2{
        color:white;
        border-radius: 5px;
        padding: 0 2px;
        background-color: map-get($colors, turquesa);
    }
    .status-1{
        color:white;
        border-radius: 5px;
        padding: 0 2px;
        background-color: map-get($colors, danger);
    }
    
}
