<ion-header>
    <ion-toolbar>
        <ion-title>
            Reservado Cita
        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
          <span ion-text color="primary" showWhen="ios">Cancel</span>
          <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
        </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>

        <ion-card-header>
            Cita en {{ clinic.name }}
        </ion-card-header>
        <ion-card-content>
           
           
                <ion-item>
                    Medico: {{ medic.name }}
                </ion-item>
                <ion-item>
                    <ion-label>Paciente</ion-label>
                    <ion-select [(ngModel)]="patientIdSelected">

                        <ion-option *ngFor="let patient of patients" value="{{patient.id}}">{{ patient.fullname }}</ion-option>
                    </ion-select>
                </ion-item>

                <ion-item>
                    <ion-icon name="calendar" item-left></ion-icon>
                    {{ parseDate(appointment.start) }}
                </ion-item>
           

           
            <div class="buttons">
                <button ion-button (click)="saveAppointment()" color="danger" *ngIf="!appointment.id && !appointment.show" disabled={{isWaiting}}>
                            
                                Reservar
                            </button>

                <button ion-button (click)="deleteAppointment(appointment)" color="danger" *ngIf="appointment.delete_id && appointment.show" disabled={{isWaiting}}>
                        
                            Cancelar Cita
                        </button>
                <button ion-button (click)="goHome()" color="primary">
                    
                        Volver Inicio
                    </button>
            </div>



        </ion-card-content>



    </ion-card>

    <ion-card *ngIf="appointment.id">

        <ion-card-content>
            <h2>Deseas agregar un recordatorio a la cita recien creada?</h2>
            <ion-list>
                <ion-item>
                    <ion-label>Cada</ion-label>
                    <ion-select [(ngModel)]="reminder_time">
                        <ion-option value="02:00:00">2 hrs antes</ion-option>
                        <ion-option value="06:00:00">6 hrs antes</ion-option>
                        <ion-option value="24:00:00">1 dia antes</ion-option>
                    </ion-select>
                </ion-item>

            </ion-list>
            <div class="buttons">
                <button ion-button (click)="saveReminder()" color="secondary" disabled={{isWaiting||reminder}} >
                        Agregar recordatorio
                    </button>

            </div>

        </ion-card-content>



    </ion-card>
    <div class="loading">
        <ion-spinner *ngIf="isWaiting"></ion-spinner>
    </div>




</ion-content>