<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
      <ion-title>Cuenta</ion-title>
  </ion-navbar>
</ion-header>

<p *ngIf="submitAttempt" style="color: #ea6153;">Por favor revisa los campos con errores.</p>

<ion-content padding>
    <ion-card>
        
        <ion-card-content>
            <img src="{{ user.avatar_path }}" [hidden]="lastImage"/>
            <img src="{{pathForImage(lastImage)}}" [hidden]="lastImage === null">
            <ion-buttons>
                <button ion-button icon-left (click)="presentActionSheet()" color="light">
                  <ion-icon name="camera"></ion-icon>Seleccionar Imagen
                </button>
                <button ion-button icon-left (click)="uploadImage()" [disabled]="lastImage === null" color="light">
                  <ion-icon name="cloud-upload"></ion-icon>Guardar Imagen
                </button>
              </ion-buttons>
        </ion-card-content>
    </ion-card>
 
  
	<form [formGroup]="accountForm">
      <ion-row>
        <ion-col>
          <ion-list inset>
            
            <ion-item>
                <ion-label floating>Nombre</ion-label>
              <ion-input formControlName="name" type="text" [class.invalid]="!accountForm.controls.name.valid && (accountForm.controls.name.dirty || submitAttempt)"></ion-input>

            </ion-item>
             <ion-item *ngIf="!accountForm.controls.name.valid  && (accountForm.controls.name.dirty || submitAttempt)">
                <p>Por favor ingrese un nombre válido</p>
            </ion-item>

            <ion-row>
              <ion-col col-5>
                <ion-item>
                  <ion-label floating>Código</ion-label>
                  <ion-select formControlName="phone_country_code">
                    <ion-option value="+506">+506</ion-option>
                  </ion-select>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label floating>Teléfono</ion-label>
                  <ion-input formControlName="phone_number" type="number" [class.invalid]="!accountForm.controls.phone_number.valid && (accountForm.controls.phone_number.dirty || submitAttempt)"
                    placeholder=""></ion-input>
                </ion-item>
                <p *ngIf="!accountForm.controls.phone_number.valid  && (accountForm.controls.phone_number.dirty || submitAttempt)" class="error">Por favor ingrese un teléfono</p>
            
              </ion-col>
            </ion-row>

            <ion-item>
                <ion-label floating>Correo</ion-label>
              <ion-input formControlName="email" type="email"></ion-input>
            </ion-item>
             <ion-item *ngIf="!accountForm.controls.email.valid  && (accountForm.controls.email.dirty || submitAttempt)">
                <p>Por favor ingrese un correo válido</p>
            </ion-item>
            
            <ion-item>
                <ion-label floating>Cambiar Contraseña</ion-label>
              <ion-input formControlName="password" type="password" [class.invalid]="!accountForm.controls.password.valid && (accountForm.controls.password.dirty || submitAttempt)"></ion-input>
            </ion-item>
            <ion-item *ngIf="!accountForm.controls.password.valid  && (accountForm.controls.password.dirty || submitAttempt)">
              <p>Por favor ingrese una Contraseña válida (Minimo 6 caracteres)</p>
            </ion-item>
             
            
            
          </ion-list>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col class="signup-col">
          <button ion-button class="submit-btn" full (click)="update()">Guardar</button>
         
        </ion-col>
      </ion-row>
       
    </form>
    <ion-row>
      <ion-col class="signup-col">
        <button ion-button class="submit-btn" full color='danger' (click)="cancelAccount()">Eliminar Cuenta</button>
       
      </ion-col>
    </ion-row>
    
    <!-- <h3 [hidden]="lastImage !== null">Selecciona una imagen para cambiar de foto</h3> -->
</ion-content>

