<ion-header>
    <ion-navbar no-border-bottom>
        <ion-title>
            Mi Expediente - Control Personal
        </ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <div padding class="margin-patient-bar">
            <ion-segment [(ngModel)]="personal_control">
                <ion-segment-button value="pressure">
                    Presión
                </ion-segment-button>
                <ion-segment-button value="sugar">
                    Azúcar
                </ion-segment-button>
                <ion-segment-button value="medicines">
                    Medicamentos
                </ion-segment-button>
                <ion-segment-button value="alergies">
                    Alergias
                </ion-segment-button>
            </ion-segment>
    </div>
    
    <div [ngSwitch]="personal_control">
        <div *ngSwitchCase="'pressure'">
            <form [formGroup]="pressureForm">
                <ion-grid>
                    <ion-row>
                        <ion-col col-6>
                            <ion-item>
                                <ion-label floating>Fecha de Control</ion-label>
                                <ion-datetime displayFormat="MMM DD, YYYY" formControlName="date_control" [class.invalid]="!pressureForm.controls.date_control.valid && (pressureForm.controls.date_control.dirty || submitAttempt)"></ion-datetime>

                            </ion-item>

                            <p *ngIf="!pressureForm.controls.date_control.valid  && (pressureForm.controls.date_control.dirty || submitAttempt)" class="error">Ingrese una fecha válida.</p>

                        </ion-col>
                        <ion-col col-6>
                            <ion-item>
                                <ion-label floating>Hora de Control</ion-label>
                                <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" formControlName="time_control"></ion-datetime>
                            </ion-item>

                            <p *ngIf="!pressureForm.controls.time_control.valid  && (pressureForm.controls.time_control.dirty || submitAttempt)" class="error">Ingrese una hora válida.</p>

                        </ion-col>
                    </ion-row>
                    <ion-row>
                            <ion-col col-6>
                                    <ion-item>
                                        <ion-label >P.S</ion-label>
                                        <!-- <ion-range min="60" max="250"  formControlName="ps" color="secondary">
                                            <ion-label range-left>60</ion-label>
                                            <ion-label range-right>250</ion-label>
                                          </ion-range> --> 
                                        <!-- <ion-select formControlName="ps" interface="action-sheet"  [class.invalid]="!pressureForm.controls.ps.valid && (pressureForm.controls.ps.dirty || submitAttempt)">
                                            <ion-option value="{{ item }}" *ngFor="let item of optionsPS">{{ item }}</ion-option>
                                            
                                          </ion-select>-->
                                        <ion-input formControlName="ps" type="number" [class.invalid]="!pressureForm.controls.ps.valid && (pressureForm.controls.ps.dirty || submitAttempt)"></ion-input>
        
                                    </ion-item>
        
                                    <p *ngIf="!pressureForm.controls.ps.valid  && (pressureForm.controls.ps.dirty || submitAttempt)" class="error">Ingrese un P.S válido.</p>
        
                                </ion-col>
                        <ion-col col-6>
                            <ion-item>
                                <ion-label >P.D</ion-label>
                               <!-- <ion-range min="40" max="150"  formControlName="pd" color="secondary">
                                    <ion-label range-left>40</ion-label>
                                    <ion-label range-right>150</ion-label>
                                  </ion-range> -->
                                 <!-- <ion-select formControlName="pd" interface="action-sheet" [class.invalid]="!pressureForm.controls.pd.valid && (pressureForm.controls.pd.dirty || submitAttempt)">
                                            <ion-option value="{{ item }}" *ngFor="let item of optionsPD">{{ item }}</ion-option>
                                            
                                          </ion-select> -->
                                <ion-input formControlName="pd" type="number" [class.invalid]="!pressureForm.controls.pd.valid && (pressureForm.controls.pd.dirty || submitAttempt)"></ion-input>

                            </ion-item>

                            <p *ngIf="!pressureForm.controls.pd.valid  && (pressureForm.controls.pd.dirty || submitAttempt)" class="error">Ingrese un P.D válido.</p>

                        </ion-col>
                       
                    </ion-row>
                    <ion-row>
                            
                        <ion-col class="signup-col">
                                <p *ngIf="pressures.length >= 10" class="error">Haz alcanzado el limite de 10 registros</p>
                            <button ion-button class="submit-btn" full (click)="savePressure()" [disabled]="iswaiting || pressures.length >= 10">Guardar</button>

                        </ion-col>
                    </ion-row>

                </ion-grid>

            </form>
            <div class="loading">
                <ion-spinner *ngIf="isWaiting"></ion-spinner>
            </div>
            <ion-list>

                <ion-item *ngFor="let item of pressures">


                    <h2><b>P.S:</b> {{ item.ps }} / <b>P.D:</b> {{ item.pd }} - <small> {{ item.date_control }} {{ item.time_control
                        }}</small>
                    </h2>

                    <button ion-button clear item-end (click)="deletePressure(item)" color="danger" disabled={{isWaiting}}><ion-icon name="trash"></ion-icon></button>
                </ion-item>


            </ion-list>
        </div>
        <div *ngSwitchCase="'sugar'">
                <form [formGroup]="sugarForm">
                        <ion-grid>
                            <ion-row>
                                <ion-col col-6>
                                    <ion-item>
                                        <ion-label floating>Fecha de Control</ion-label>
                                        <ion-datetime displayFormat="MMM DD, YYYY" formControlName="date_control" [class.invalid]="!sugarForm.controls.date_control.valid && (sugarForm.controls.date_control.dirty || submitAttempt)"></ion-datetime>
        
                                    </ion-item>
        
                                    <p *ngIf="!sugarForm.controls.date_control.valid  && (sugarForm.controls.date_control.dirty || submitAttempt)" class="error">Ingrese una fecha válida.</p>
        
                                </ion-col>
                                <ion-col col-6>
                                    <ion-item>
                                        <ion-label floating>Hora de Control</ion-label>
                                        <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" formControlName="time_control"></ion-datetime>
                                    </ion-item>
        
                                    <p *ngIf="!sugarForm.controls.time_control.valid  && (sugarForm.controls.time_control.dirty || submitAttempt)" class="error">Ingrese una hora válida.</p>
        
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col col-12>
                                    <ion-item>
                                        <ion-label floating>Glicemia</ion-label>
                                        <!-- <ion-select formControlName="glicemia" interface="action-sheet" [class.invalid]="!sugarForm.controls.glicemia.valid && (sugarForm.controls.glicemia.dirty || submitAttempt)">
                                            <ion-option value="{{ item }}" *ngFor="let item of optionsGlicemia">{{ item }}</ion-option>
                                            
                                          </ion-select> -->
                                        <ion-input formControlName="glicemia" type="number" [class.invalid]="!sugarForm.controls.glicemia.valid && (sugarForm.controls.glicemia.dirty || submitAttempt)"></ion-input>
        
                                    </ion-item>
        
                                    <p *ngIf="!sugarForm.controls.glicemia.valid  && (sugarForm.controls.glicemia.dirty || submitAttempt)" class="error">Ingrese una glicemia válida.</p>
        
                                </ion-col>
                               
                            </ion-row>
                            <ion-row>
                                <ion-col class="signup-col">
                                    <p *ngIf="sugars.length >= 10" class="error">Haz alcanzado el limite de 10 registros</p>
                                    <button ion-button class="submit-btn" full (click)="saveSugar()" [disabled]="iswaiting || sugars.length >= 10">Guardar</button>
        
                                </ion-col>
                            </ion-row>
        
                        </ion-grid>
        
        
        
        
                    </form>
                    <div class="loading">
                        <ion-spinner *ngIf="isWaiting"></ion-spinner>
                    </div>
                    <ion-list>
        
                        <ion-item *ngFor="let item of sugars">
        
        
                            <h2><b>Glicemia:</b> {{ item.glicemia }} {{ item.pd }} - <small>{{ item.date_control }} {{ item.time_control
                                }}</small>
                            </h2>
        
                            <button ion-button clear item-end (click)="deleteSugar(item)" color="danger" disabled={{isWaiting}}><ion-icon name="trash"></ion-icon></button>
                        </ion-item>
        
        
                    </ion-list>
        </div>
        <div *ngSwitchCase="'medicines'">
                <form [formGroup]="medicineForm">
                        <ion-grid>
                            
                            <ion-row>
                                <ion-col col-12>
                                    <ion-item>
                                        <ion-label floating>Medicamento activo</ion-label>
                                        <ion-input formControlName="name" type="text" [class.invalid]="!medicineForm.controls.name.valid && (medicineForm.controls.name.dirty || submitAttempt)"></ion-input>
        
                                    </ion-item>
        
                                    <p *ngIf="!medicineForm.controls.name.valid  && (medicineForm.controls.name.dirty || submitAttempt)" class="error">Ingrese un medicamento válida.</p>
        
                                </ion-col>
                               
                            </ion-row>
                            <ion-row>
                                <ion-col class="signup-col">
                                    <button ion-button class="submit-btn" full (click)="saveMedicine()" disabled={{isWaiting}}>Guardar</button>
        
                                </ion-col>
                            </ion-row>
        
                        </ion-grid>
        
        
        
        
                    </form>
                    <div class="loading">
                        <ion-spinner *ngIf="isWaiting"></ion-spinner>
                    </div>
                    <ion-list>
        
                        <ion-item *ngFor="let item of medicines">
        
        
                            <h2> {{ item.name }} 
                               
                            </h2>
        
                            <button ion-button clear item-end (click)="deleteMedicine(item)" color="danger" disabled={{isWaiting}}><ion-icon name="trash"></ion-icon></button>
                        </ion-item>
        
        
                    </ion-list>
        </div>
        <div *ngSwitchCase="'alergies'">
                <form [formGroup]="allergyForm">
                        <ion-grid>
                            
                            <ion-row>
                                <ion-col col-12>
                                    <ion-item>
                                        <ion-label floating>Alergia</ion-label>
                                        <ion-input formControlName="name" type="text" [class.invalid]="!allergyForm.controls.name.valid && (allergyForm.controls.name.dirty || submitAttempt)"></ion-input>
        
                                    </ion-item>
        
                                    <p *ngIf="!allergyForm.controls.name.valid  && (allergyForm.controls.name.dirty || submitAttempt)" class="error">Ingrese una alergia válida.</p>
        
                                </ion-col>
                               
                            </ion-row>
                            <ion-row>
                                <ion-col class="signup-col">
                                    <button ion-button class="submit-btn" full (click)="saveAllergy()" disabled={{isWaiting}}>Guardar</button>
        
                                </ion-col>
                            </ion-row>
        
                        </ion-grid>
        
        
        
        
                    </form>
                    <div class="loading">
                        <ion-spinner *ngIf="isWaiting"></ion-spinner>
                    </div>
                    <ion-list>
        
                        <ion-item *ngFor="let item of allergies">
        
        
                            <h2> {{ item.name }} 
                               
                            </h2>
        
                            <button ion-button clear item-end (click)="deleteAllergy(item)" color="danger" *ngIf="item.user.roles[0].name == 'paciente'" disabled={{isWaiting}}><ion-icon name="trash"></ion-icon></button>
                        </ion-item>
        
        
                    </ion-list>
        </div>


    </div>
   
</ion-content>