
<ion-header>

  <ion-navbar>
    <ion-title>Médico</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="medic">
    <ion-card>

        <ion-card-content>
            <img src="{{ medic.avatar_path }}"/>
            <h2>{{medic.name}}</h2>
            <h3 *ngIf="medic.specialities.length; else elseBlock"><span *ngFor="let speciality of medic.specialities">{{ speciality.name}}</span></h3>
            <ng-template #elseBlock><h3>Médico General</h3></ng-template>
        </ion-card-content>

        <ion-list>
            <ion-item *ngFor="let clinic of medic.offices">
                <!-- <ion-icon name="home" item-left></ion-icon> -->
                <p>{{clinic.name}}</p>
                <h2>{{clinic.address}}</h2>
                <button ion-button round item-right (click)="openCalendar(medic, clinic)" color="danger" >
                    <ion-icon name="calendar"></ion-icon> Reservar
                
                </button>
                <button ion-button round item-right (click)="share(clinic)" *ngIf="clinic.lat && clinic.lon">
                    <ion-icon name="share"></ion-icon>
                
                </button>
            </ion-item>
          
        </ion-list>
        

    </ion-card>
 
</ion-content>
